.Layout {
    display: flex;
    height: 100%;
    transition: margin-left 0.3s ease;
    margin-left: 0px;
    background-color: #5b5b99;
    color: #ffffff;
}

.Layout h1 {
    margin-left: 30px;
    text-align: left;
}
.Layout p {
    margin-left: 35px;
    text-align: left;
}

.Layout.SidebarOpen {
    margin-left: 250px;
}


/* RWD */
@media (max-width: 768px) {
    .Layout.SidebarOpen {
        margin-left: 10;
    }
}
