.Layout {
    display: flex;
    transition: margin-left 0.3s ease;
    margin-left: 0px;
    /* background-color: #5b5b99; */
    color: #ffffff;
}

.Layout.SidebarOpen {
    margin-left: 250px;
    width: calc(100% - 250px);
    transition: margin-left 0.5s ease-out;
    transition: margin-right 0.3s ease;
}


/* RWD */
@media (max-width: 600px) {
    .Layout {
        width: 100%;
        top: 80px;
        height: auto;
        position: absolute;
    }

    .Layout.SidebarOpen {
        margin-left: 0;
        left: 0;
        width: 100%;
        position: absolute;
    }
}
