.Layout {
    display: flex;
    height: 100%;
    transition: margin-left 0.3s ease;
    margin-left: 0px;
    /* background-color: #5b5b99; */
    color: #ffffff;
}

.layoutHead {
    /* display: flex; */
    text-align: left;
    align-items: baseline;
    flex-direction: row;
}

.layoutContent p {
    text-align: left;
    font-size: '16px';
}

.Layout.SidebarOpen {
    margin-left: 250px;
}


/* RWD */
@media (max-width: 640px) {
    .Layout {
        width: 100%;
        top: 80px;
        height: auto;
        position: absolute;
    }

    .Layout.SidebarOpen {
        left: 0;
        width: 100%;
        position: absolute;
        z-index: 1;
    }
}
