.App {
  text-align: center;
  /* background-color: #5b5b99; */
}

/* RWD */
@media (max-width: 640px) {
  .App {
    display: flex;
    flex-direction: column;
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
